In [ ]:
# 1Q.

import pandas as pd

a = pd.read_csv('/content/train (1).csv')
print(a)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y=a['price_range']
print(y)
y.shape

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

(2000,)

In [ ]:
x=a.drop('price_range',axis=1)
print(x)
x.shape

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

(2000, 20)

In [ ]:
aa=(x-x.min())/(x.max()-x.min())
print(aa)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
0          0.227789   0.0         0.68       0.0  0.052632     0.0
1          0.347361   1.0         0.00       1.0  0.000000     1.0
2          0.041416   1.0         0.00       1.0  0.105263     1.0
3          0.076152   1.0         0.80       0.0  0.000000     0.0
4          0.881764   1.0         0.28       0.0  0.684211     1.0
...             ...   ...          ...       ...       ...     ...
1995       0.195725   1.0         0.00       1.0  0.000000     1.0
1996       0.977956   1.0         0.84       1.0  0.000000     0.0
1997       0.941884   0.0         0.16       1.0  0.052632     1.0
1998       0.675351   0.0         0.16       0.0  0.210526     1.0
1999       0.006012   1.0         0.60       1.0  0.263158     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
0       0.080645  0.555556   0.900000  0.142857  0.10   0.010204  0.170895
1       0.822581  0.666667   0.466667  0.285714  0.30   0.461735  0.993324
2       0.629032  0.888889   0.541667  0.571429  0.30   0.644388  0.811749
3       0.129032  0.777778   0.425000  0.714286  0.45   0.620408  0.858478
4       0.677419  0.555556   0.508333  0.142857  0.70   0.616327  0.475300
...          ...       ...        ...       ...   ...        ...       ...
1995    0.000000  0.777778   0.216667  0.714286  0.70   0.623469  0.927904
1996    0.596774  0.111111   0.891667  0.428571  0.15   0.466837  0.977971
1997    0.548387  0.666667   0.233333  1.000000  0.15   0.442857  0.755674
1998    0.709677  0.000000   0.541667  0.571429  0.25   0.171429  0.113485
1999    0.693548  0.888889   0.733333  0.714286  0.80   0.246429  0.169559

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
0     0.612774  0.285714  0.388889   0.944444      0.0           0.0   1.0
1     0.634687  0.857143  0.166667   0.277778      1.0           1.0   0.0
2     0.627205  0.428571  0.111111   0.388889      1.0           1.0   0.0
3     0.671566  0.785714  0.444444   0.500000      1.0           0.0   0.0
4     0.308658  0.214286  0.111111   0.722222      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
1995  0.110102  0.571429  0.222222   0.944444      1.0           1.0   0.0
1996  0.474613  0.428571  0.555556   0.777778      1.0           1.0   1.0
1997  0.748530  0.285714  0.055556   0.166667      1.0           1.0   0.0
1998  0.163816  0.928571  0.555556   0.944444      1.0           1.0   1.0
1999  0.978888  1.000000  0.222222   0.000000      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(aa,y,test_size=0.2,random_state=0)

In [ ]:
print(x_train)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
582        0.488310   0.0         0.96       1.0  0.052632     1.0
159        0.894456   0.0         0.00       1.0  0.631579     0.0
1827       0.795591   0.0         0.64       0.0  0.210526     1.0
318        0.004676   0.0         0.12       0.0  0.368421     1.0
708        0.317969   1.0         0.92       1.0  0.105263     0.0
...             ...   ...          ...       ...       ...     ...
835        0.482966   1.0         0.44       0.0  0.473684     0.0
1216       0.438878   0.0         0.08       1.0  0.052632     1.0
1653       0.460254   0.0         0.60       1.0  0.000000     0.0
559        0.460922   0.0         0.76       1.0  0.105263     0.0
684        0.136941   0.0         0.00       0.0  0.684211     1.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
582     0.354839  0.222222   0.741667  0.571429  0.85   0.184184  0.206275
159     0.516129  0.666667   0.516667  0.000000  0.80   0.158673  0.697597
1827    0.000000  0.888889   0.216667  0.000000  0.85   0.968878  0.937250
318     0.645161  0.222222   0.116667  0.000000  0.40   0.019898  0.038051
708     0.532258  0.555556   0.708333  0.142857  0.75   0.766327  0.909212
...          ...       ...        ...       ...   ...        ...       ...
835     0.500000  1.000000   0.641667  0.000000  0.90   0.266327  0.042056
1216    0.435484  0.666667   0.358333  0.142857  1.00   0.158673  0.865154
1653    0.612903  0.111111   0.108333  0.571429  0.05   0.713776  0.765020
559     0.177419  0.888889   0.741667  0.000000  0.35   0.091327  0.876502
684     0.467742  0.000000   0.233333  0.285714  0.95   0.277041  0.292390

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
582   0.267504  0.785714  0.555556   0.777778      1.0           0.0   0.0
159   0.219669  0.214286  0.000000   0.444444      0.0           0.0   0.0
1827  0.941475  0.285714  0.166667   0.277778      1.0           1.0   1.0
318   0.108765  0.571429  0.666667   0.277778      1.0           0.0   0.0
708   0.924105  1.000000  0.166667   0.444444      0.0           1.0   1.0
...        ...       ...       ...        ...      ...           ...   ...
835   0.946018  0.357143  0.277778   0.611111      1.0           1.0   0.0
1216  0.343666  0.857143  0.500000   0.722222      1.0           0.0   1.0
1653  0.896312  0.571429  0.388889   0.388889      0.0           0.0   1.0
559   0.206307  0.642857  0.333333   0.333333      1.0           1.0   1.0
684   0.578033  0.214286  0.388889   0.111111      1.0           0.0   1.0

[1600 rows x 20 columns]

In [ ]:
print(x_test)

      battery_power  blue  clock_speed  dual_sim        fc  four_g  \
405        0.636607   1.0         0.00       1.0  0.052632     0.0
1190       0.394790   1.0         0.00       1.0  0.526316     0.0
1132       0.683367   1.0         0.52       1.0  0.000000     0.0
731        0.872411   1.0         0.64       0.0  0.105263     0.0
1754       0.390782   1.0         0.48       1.0  0.000000     1.0
...             ...   ...          ...       ...       ...     ...
638        0.303273   0.0         0.00       1.0  0.210526     0.0
360        0.205745   0.0         0.12       0.0  0.526316     0.0
1810       0.062124   1.0         0.84       0.0  0.052632     0.0
1743       0.782899   1.0         0.44       0.0  0.105263     0.0
563        0.527054   0.0         0.00       0.0  0.000000     0.0

      int_memory     m_dep  mobile_wt   n_cores    pc  px_height  px_width  \
405     0.516129  0.666667   0.025000  0.428571  0.15   0.127551  0.355808
1190    0.145161  0.444444   0.725000  0.285714  0.70   0.238776  0.047397
1132    0.129032  0.555556   0.783333  0.428571  0.05   0.078571  0.033378
731     0.758065  0.777778   0.375000  0.000000  0.50   0.171939  0.590120
1754    0.661290  0.111111   0.258333  0.714286  0.05   0.028571  0.433912
...          ...       ...        ...       ...   ...        ...       ...
638     0.661290  0.888889   0.525000  0.571429  0.40   0.636735  0.674900
360     0.306452  0.888889   0.091667  0.857143  0.95   0.741327  0.818425
1810    0.403226  0.000000   0.966667  0.571429  0.10   0.207653  0.018692
1743    0.645161  0.444444   0.850000  0.571429  0.30   0.109184  0.119493
563     0.016129  0.000000   0.525000  0.714286  0.20   0.306122  0.406542

           ram      sc_h      sc_w  talk_time  three_g  touch_screen  wifi
405   0.845270  0.142857  0.277778   0.166667      1.0           1.0   0.0
1190  0.128541  0.642857  0.222222   0.500000      0.0           1.0   0.0
1132  0.647247  0.785714  0.277778   0.611111      1.0           0.0   1.0
731   0.440941  0.857143  0.722222   0.611111      0.0           1.0   1.0
1754  0.809460  0.428571  0.277778   0.833333      1.0           1.0   0.0
...        ...       ...       ...        ...      ...           ...   ...
638   0.314270  0.500000  0.500000   0.388889      1.0           1.0   1.0
360   0.272047  0.928571  0.388889   0.055556      0.0           0.0   0.0
1810  0.120791  0.857143  0.277778   0.833333      0.0           1.0   1.0
1743  0.758418  0.500000  0.222222   1.000000      0.0           0.0   0.0
563   0.256013  0.285714  0.444444   0.722222      0.0           1.0   1.0

[400 rows x 20 columns]

In [ ]:
print(y_train)

582     0
159     1
1827    3
318     0
708     3
       ..
835     3
1216    1
1653    3
559     0
684     1
Name: price_range, Length: 1600, dtype: int64

In [ ]:
print(y_test)

405     3
1190    0
1132    2
731     2
1754    2
       ..
638     1
360     1
1810    0
1743    2
563     1
Name: price_range, Length: 400, dtype: int64

In [ ]:
print(aa.isnull())

      battery_power   blue  clock_speed  dual_sim     fc  four_g  int_memory  \
0             False  False        False     False  False   False       False
1             False  False        False     False  False   False       False
2             False  False        False     False  False   False       False
3             False  False        False     False  False   False       False
4             False  False        False     False  False   False       False
...             ...    ...          ...       ...    ...     ...         ...
1995          False  False        False     False  False   False       False
1996          False  False        False     False  False   False       False
1997          False  False        False     False  False   False       False
1998          False  False        False     False  False   False       False
1999          False  False        False     False  False   False       False

      m_dep  mobile_wt  n_cores     pc  px_height  px_width    ram   sc_h  \
0     False      False    False  False      False     False  False  False
1     False      False    False  False      False     False  False  False
2     False      False    False  False      False     False  False  False
3     False      False    False  False      False     False  False  False
4     False      False    False  False      False     False  False  False
...     ...        ...      ...    ...        ...       ...    ...    ...
1995  False      False    False  False      False     False  False  False
1996  False      False    False  False      False     False  False  False
1997  False      False    False  False      False     False  False  False
1998  False      False    False  False      False     False  False  False
1999  False      False    False  False      False     False  False  False

       sc_w  talk_time  three_g  touch_screen   wifi
0     False      False    False         False  False
1     False      False    False         False  False
2     False      False    False         False  False
3     False      False    False         False  False
4     False      False    False         False  False
...     ...        ...      ...           ...    ...
1995  False      False    False         False  False
1996  False      False    False         False  False
1997  False      False    False         False  False
1998  False      False    False         False  False
1999  False      False    False         False  False

[2000 rows x 20 columns]

In [ ]:
x=x.fillna(0)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
print(a.dtypes)

battery_power      int64
blue               int64
clock_speed      float64
dual_sim           int64
fc                 int64
four_g             int64
int_memory         int64
m_dep            float64
mobile_wt          int64
n_cores            int64
pc                 int64
px_height          int64
px_width           int64
ram                int64
sc_h               int64
sc_w               int64
talk_time          int64
three_g            int64
touch_screen       int64
wifi               int64
price_range        int64
dtype: object

In [ ]:
# 2Q.

import pandas as pd

b= pd.read_csv('/content/sample_data/california_housing_train.csv')
print(b)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
print(b.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
print(b['longitude'].shape)
print(b['latitude'].shape)
print(b['housing_median_age'].shape)
print(b['total_rooms'].shape)
print(b['total_bedrooms'].shape)
print(b['population'].shape)
print(b['households'].shape)
print(b['median_income'].shape)

(17000,)
(17000,)
(17000,)
(17000,)
(17000,)
(17000,)
(17000,)
(17000,)

In [ ]:
 y=b['median_house_value']
 print(y)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [ ]:
x=b.drop('median_house_value',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
print(b.isnull())

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          False     False               False        False           False
1          False     False               False        False           False
2          False     False               False        False           False
3          False     False               False        False           False
4          False     False               False        False           False
...          ...       ...                 ...          ...             ...
16995      False     False               False        False           False
16996      False     False               False        False           False
16997      False     False               False        False           False
16998      False     False               False        False           False
16999      False     False               False        False           False

       population  households  median_income  median_house_value
0           False       False          False               False
1           False       False          False               False
2           False       False          False               False
3           False       False          False               False
4           False       False          False               False
...           ...         ...            ...                 ...
16995       False       False          False               False
16996       False       False          False               False
16997       False       False          False               False
16998       False       False          False               False
16999       False       False          False               False

[17000 rows x 9 columns]

In [ ]:
x=x.fillna(0)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
bb=(x-x.min())/(x.max()-x.min())
print(bb)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       1.000000  0.175345            0.274510     0.147885        0.198945
1       0.984064  0.197662            0.352941     0.201608        0.294848
2       0.975100  0.122210            0.313725     0.018927        0.026847
3       0.974104  0.116897            0.254902     0.039515        0.052142
4       0.974104  0.109458            0.372549     0.038276        0.050435
...          ...       ...                 ...          ...             ...
16995   0.008964  0.854410            1.000000     0.058389        0.060987
16996   0.007968  0.866100            0.686275     0.061869        0.081782
16997   0.004980  0.988310            0.313725     0.070515        0.082247
16998   0.004980  0.984060            0.352941     0.070384        0.085506
16999   0.000000  0.850159            1.000000     0.047924        0.046400

       population  households  median_income
0        0.028364    0.077454       0.068530
1        0.031559    0.075974       0.091040
2        0.009249    0.019076       0.079378
3        0.014350    0.037000       0.185639
4        0.017405    0.042921       0.098281
...           ...         ...            ...
16995    0.025337    0.060516       0.128081
16996    0.033381    0.076303       0.139170
16997    0.034782    0.074823       0.174577
16998    0.036296    0.078441       0.102054
16999    0.022506    0.044236       0.173432

[17000 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(bb,y,test_size=0.2,random_state=10)

In [ ]:
print(x_train)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
7775    0.593625  0.177471            0.607843     0.049216        0.068281
11339   0.314741  0.651435            0.294118     0.046184        0.043917
3094    0.650398  0.160468            0.392157     0.106208        0.143079
12353   0.280876  0.706695            0.509804     0.054778        0.063780
14245   0.226096  0.511158            0.627451     0.063161        0.049038
...          ...       ...                 ...          ...             ...
4829    0.623506  0.145590            0.254902     0.062396        0.093575
10201   0.446215  0.450584            0.058824     0.160801        0.172719
9372    0.513944  0.172157            0.647059     0.068749        0.072160
7291    0.598606  0.158342            0.921569     0.037538        0.051210
7293    0.598606  0.157279            0.960784     0.030842        0.040348

       population  households  median_income
7775     0.042406    0.070877       0.219625
11339    0.021581    0.045387       0.297727
3094     0.071611    0.136984       0.183735
12353    0.030242    0.062654       0.141350
14245    0.023235    0.051472       0.679935
...           ...         ...            ...
4829     0.043247    0.076139       0.227376
10201    0.095378    0.183194       0.201473
9372     0.043163    0.071041       0.239466
7291     0.021890    0.058379       0.079875
7293     0.019115    0.042592       0.182363

[13600 rows x 8 columns]

In [ ]:
print(x_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
10270   0.432271  0.678002            0.431373     0.025359        0.038020
1528    0.711155  0.052072            0.372549     0.088783        0.067039
7778    0.593625  0.176408            0.313725     0.068327        0.159373
10724   0.370518  0.275239            0.294118     0.070594        0.109094
3481    0.642430  0.164718            0.647059     0.041123        0.042055
...          ...       ...                 ...          ...             ...
3157    0.649402  0.117960            0.137255     0.056597        0.065953
5505    0.616534  0.130712            0.549020     0.081086        0.121819
7639    0.595618  0.158342            0.745098     0.005562        0.006673
5576    0.615538  0.138151            0.862745     0.048794        0.050745
16336   0.183267  0.578108            0.705882     0.126506        0.108318

       population  households  median_income
10270    0.013509    0.032396       0.084061
1528     0.028504    0.066930       0.730418
7778     0.110625    0.159842       0.105854
10724    0.027243    0.101628       0.088819
3481     0.023039    0.043578       0.250003
...           ...         ...            ...
3157     0.026542    0.065450       0.248990
5505     0.040836    0.120868       0.163798
7639     0.003784    0.008387       0.112074
5576     0.026402    0.052458       0.315775
16336    0.051207    0.111495       0.384567

[3400 rows x 8 columns]

In [ ]:
print(y_train)

7775     178500.0
11339    147000.0
3094     117300.0
12353     98300.0
14245    500001.0
           ...
4829     159400.0
10201     84500.0
9372     189000.0
7291     118800.0
7293     130300.0
Name: median_house_value, Length: 13600, dtype: float64

In [ ]:
print(y_test)

10270     96100.0
1528     500001.0
7778     177200.0
10724     55000.0
3481     220800.0
           ...
3157     250400.0
5505     232500.0
7639     196400.0
5576     219200.0
16336    487800.0
Name: median_house_value, Length: 3400, dtype: float64